examples/basic_flow.json
[{"id":"40f0a03.02d426","type":"function","z":"4142483e.06fca8","name":"Subscription Manager","func":"let pushSubscriptions = flow.get('pushSubscriptions', \"storeInFile\") || []\n  \nlet result = ''\nlet foundSubscriptionItems = [];\n\n// Determine on which subscriptions the action should be executed\nif (msg.payload.action === 'reset') {\n    // Reset has impact on all subscriptions\n    foundSubscriptionItems = pushSubscriptions;\n}\nelse {\n    // Find all subscriptions for the specified endpoint\n    foundSubscriptionItems = pushSubscriptions.filter( subscriptionItem => {\n        return subscriptionItem.endpoint == msg.payload.endpoint;\n    })\n}\n\nlet totalSubscriptionLength = pushSubscriptions.length;\n  \nswitch (msg.topic) {\n    case 'subscription_new':\n    case 'subscription_existing':\n        var subscription = msg.payload;\n        if (foundSubscriptionItems.length === 0) {\n            pushSubscriptions.push(subscription);\n            result = 'Subscription registered: ' + subscription.endpoint\n        } else {\n            result = 'Subscription was already registered: ' + subscription.endpoint\n        }\n\n        msg.statusCode = 200;\n        break;\n    \n    case 'unsubscription':\n        var unsubscription = msg.payload;\n        if(foundSubscriptionItems.length === 0) {\n            result = 'Subscription was not found: ' + unsubscription.endpoint\n        } else {\n            pushSubscriptions = pushSubscriptions.filter(subscriptionItem => {\n                return subscriptionItem.endpoint !== unsubscription.endpoint\n            })\n            result = 'Subscription unregistered: ' + unsubscription.endpoint\n        }\n    \n        msg.statusCode = 200;\n        break;\n    case 'reset':\n        // All push subscriptions will be removed!!!!!!!!!\n        // Make sure you know what you are doing, because you cannot send notifications to these endpoints anymore!!!!!!!!!\n        pushSubscriptions = [];\n        break;\n    default:\n        result = 'Unsupported action';\n        msg.statusCode = 400;\n}\n\nmsg.payload = { result: result }\n\n// Show the evolution in number of subscriptions\nnode.status({fill:\"green\",shape:\"dot\",text: pushSubscriptions.length + \" subscription (previously \" + totalSubscriptionLength + \")\"});\n\n// Make sure this flow variable in stored in a file, because we still need the subscriptions \n// after a flow restart (otherwise there is no way anymore to push notifications to those clients!!)\nflow.set('pushSubscriptions', pushSubscriptions, \"storeInFile\")\n  \nreturn msg;","outputs":1,"noerr":0,"x":780,"y":2080,"wires":[[]]},{"id":"78eccaf6.6f3504","type":"ui_web_push_client","z":"4142483e.06fca8","group":"22787703.a0e968","order":1,"width":0,"height":0,"webPushConfig":"1da91b89.be0054","sendSubscription":true,"disableButton":false,"showTooltip":false,"subscribeLabel":"Subscribe","unsubscribeLabel":"Unsubscribe","name":"","x":300,"y":2060,"wires":[["224ae0be.2ff16"]]},{"id":"224ae0be.2ff16","type":"switch","z":"4142483e.06fca8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"error","vt":"str"},{"t":"eq","v":"subscription_new","vt":"str"},{"t":"eq","v":"subscription_existing","vt":"str"},{"t":"eq","v":"unsubscription","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":470,"y":2060,"wires":[["db2d5103.3b7ed"],["40f0a03.02d426","b81732c1.c64cf"],["40f0a03.02d426"],["40f0a03.02d426","891acbb7.fead88"]],"outputLabels":["error","subscription_new","subscription_existing","unsubscription"]},{"id":"db2d5103.3b7ed","type":"ui_toast","z":"4142483e.06fca8","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Internal problem","name":"Show error popup","x":770,"y":1960,"wires":[[]]},{"id":"36ba1f5.156dee","type":"ui_toast","z":"4142483e.06fca8","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Info","name":"Show subscription confirmation popup","x":1030,"y":2000,"wires":[[]]},{"id":"51b2a714.96c4d8","type":"ui_toast","z":"4142483e.06fca8","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Info","name":"Show unsubscription confirmation popup","x":1040,"y":2040,"wires":[[]]},{"id":"891acbb7.fead88","type":"change","z":"4142483e.06fca8","name":"Set popup body","rules":[{"t":"set","p":"payload","pt":"msg","to":"Succesfully unsubscribed from receiving Node-RED notifications","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":2040,"wires":[["51b2a714.96c4d8"]]},{"id":"b81732c1.c64cf","type":"change","z":"4142483e.06fca8","name":"Set popup body","rules":[{"t":"set","p":"payload","pt":"msg","to":"Succesfully subscribed for receiving Node-RED notifications","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":2000,"wires":[["36ba1f5.156dee"]]},{"id":"cb8eb1f8.b0135","type":"function","z":"4142483e.06fca8","name":"Get subscriptions","func":"// Use the flow variable that has been set in Demo Web Push Manager API (\"storeInFile\" context)\nmsg.subscriptions = flow.get('pushSubscriptions', \"storeInFile\") || []\n\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":2180,"wires":[["b976fed6.9d7f5"]]},{"id":"b976fed6.9d7f5","type":"web-push","z":"4142483e.06fca8","name":"Send notification to the subscribers","vapidConfiguration":"1da91b89.be0054","x":1120,"y":2180,"wires":[[]]},{"id":"3d761c9f.df5fa4","type":"web-push-notification","z":"4142483e.06fca8","name":"web push notification","title":"Hello Node-RED user!!!","body":"Click me to open your dashboard","sound":"default","payload":"[{\"key\":\"icon\",\"value\":\"https://nodered.org/about/resources/media/node-red-icon-2.png\",\"type\":\"str\"}]","x":600,"y":2180,"wires":[["cb8eb1f8.b0135"]]},{"id":"412be38b.155bac","type":"inject","z":"4142483e.06fca8","name":"Send predefined notification","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":2180,"wires":[["3d761c9f.df5fa4"]]},{"id":"22787703.a0e968","type":"ui_group","z":"","name":"Step 1 - Subscribe for web push","tab":"80f0e178.bbf4a","order":1,"disp":true,"width":"7","collapse":false},{"id":"1da91b89.be0054","type":"vapid-configuration","z":"","subject":"mailto:bart.butenaers@gmail.com","publicKey":"BAMALtrxVukqmP5GLLiC3GLb5Isu5q0-o1ZgZl43G2IuGWxSdJIYVnSHpgFMzSuvNlsZp2Jvs7_pmdRUpamtAp0","privateKey":"LLTld34BwYQk3X_t8rXEtQ5EL8Ot8dh8ZXhzy-_tTMA","gcmApiKey":"","name":""},{"id":"80f0e178.bbf4a","type":"ui_tab","z":"","name":"Node-RED web push notification demo","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
